@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Favorit';
  src: local('Favorit Regular'), local('Favorit-Regular'),
    url('assets/Favorit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Favorit', Helvetica, sans-serif;
  @apply antialiased;
}

#app {
  @apply w-screen h-screen overflow-hidden;
}

*:focus {
  outline: none;
}

.bright,
.bleft {
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.entrada > * {
  margin-left: 25%;
  margin-right: 25%;
}

.wp-block-image img {
  width: 100%;
  height: auto;
}

.wp-block-image.alignleft {
  margin-left: 0;
}

.wp-block-image.alignright {
  margin-right: 0;
}

.wp-block-image.alignleft figcaption {
  width: 50%;
  margin-left: auto;
  text-align: right;
}

.wp-block-image.alignright figcaption {
  width: 50%;
  margin-right: auto;
  text-align: left;
}

.wp-block-image.fullwidth,
.wp-block-image.alignfull {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-image.fullwidth figcaption,
.wp-block-image.alignfull figcaption {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}

.wp-block-embed.is-type-video {
  @apply aspect-video;
}

.wp-block-embed.is-type-video p {
  margin: 0px;
  height: 100%;
}

.wp-block-embed.is-type-video iframe,
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  @apply w-full;
  @apply h-full;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  #app {
    width: 100vh;
    height: 100vw;
  }
}
